.timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

div.time-picker {
    width: 130px;
    margin-bottom: 32px;
}

button.timer-button {
    width: 130px;
}